<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBocJsA9Eyrq-6tr1CksjTpEy7mZyHFEe8</string>
	<key>GCM_SENDER_ID</key>
	<string>430571800538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GoitLive</string>
	<key>PROJECT_ID</key>
	<string>isbabymama</string>
	<key>STORAGE_BUCKET</key>
	<string>isbabymama.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430571800538:ios:ac4546063fae5221fe22e3</string>
	<key>DATABASE_URL</key>
	<string>https://isbabymama-default-rtdb.firebaseio.com</string>
</dict>
</plist>